body {
    font-family: 'Courier New', monospace;
    text-align: center;
    background-color: whitesmoke;
}

table {
    font-family: 'Courier New', monospace;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background-color: white;
}

td,
th {
    border: 2px solid black;
    text-align: center;
    vertical-align: top;
    padding: 15px;
}

#waitingRoom {
    width: 350px;
    height: auto;
    padding: 10px;
    border: 2px solid black;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}

.taskButton {
    border: 2px solid black;
    background-color: white;
    font-family: 'Courier New', monospace;
    cursor: pointer;
}

.tasks {
    padding: 10px;
    border: 2px solid black;
    font-family: 'Courier New', monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    cursor: grab;
}

.newTask {
    padding: 10px;
    border: 2px solid black;
    font-family: 'Courier New', monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    cursor: pointer;
    
}

#inputBox {
    font-family: 'Courier New', monospace;
    padding: 10px;
    border: 2px solid black;
    display:inline-block;
}
